<% content_for(:page_header) do %>
    <h1>
      Home Page
      <a href="#" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-plus"></span>
        Nuovo
      </a>
    </h1>
<% end %>