<% content_for(:page_header) do %>
<h1>
  New event
  <%= link_to administrator_events_path, class: 'btn btn-default pull-right' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
  <% end %>
</h1>
<% end %>

<%= render 'form' %>
