<% content_for(:page_header) do %>
<h1>
  <%= link_to administrator_restaurant_owners_path, class: 'btn btn-default pull-right' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
  <% end %>
  <%= link_to administrator_restaurant_owner_path(@restaurant_owner), class: 'btn btn-primary pull-right' do %>
  <span class="glyphicon glyphicon-info-sign"></span>
  Show
  <% end %>
  <h1>Edit restaurant owner</h1>
</h1>
<% end %>

<%= render 'form' %>
