<%% content_for(:page_header) do %>
<h1>
  <%%= link_to <%= index_helper %>_path, class: 'btn btn-default pull-right' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
  <%% end %>
  <%%= link_to @<%= singular_table_name %>, class: 'btn btn-primary pull-right' do %>
  <span class="glyphicon glyphicon-info-sign"></span>
  Show
  <%% end %>
  <h1>Edit <%= singular_table_name %></h1>
</h1>
<%% end %>

<%%= render 'form' %>
