<% content_for(:page_header) do %>
<h1>
  <%= link_to administrator_restaurants_photos_path(@restaurant), class: 'btn btn-default pull-right' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
  <% end %>
  <%= link_to administrator_restaurant_photo_path(@restaurant, @photo), class: 'btn btn-primary pull-right' do %>
  <span class="glyphicon glyphicon-info-sign"></span>
  Show
  <% end %>
  <h1>Edit photo</h1>
</h1>
<% end %>

<%= render 'form' %>
